services:
  api:
    depends_on:
      - postgres
    build:
        context: .
        dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres
      DB_PORT: '5432'
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: users_db
    command: ["npm", "run", "start:prod"]
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

