version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build_and_test:
    executor: node/default
    steps:
      - checkout
      - run:
          name: Install pnpm
          command: npm install pnpm
      - run:
          name: Install dependencies with pnpm
          command: pnpm install --frozen-lockfile
      - run:
          name: Run tests
          command: pnpm test
      - run:
          name: Build app
          command: pnpm build
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

workflows:
  build_test_deploy:
    jobs:
      - build_and_test